{% extends 'adminbase.html.twig' %}

{% block title %}New Setting{% endblock %}

{% block body %}
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3 class="text-center">
    <h1>Create new Setting</h1>

    {{ include('admin/setting/_form.html.twig') }}

    <a href="{{ path('setting_index') }}">back to list</a>
                </h3>
            </div>
        </div>
    </div>

    {% endblock %}
