{% extends 'adminbase.html.twig' %}

{% block title %}Rent Home Page{% endblock %}

{% block body %}
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h3 class="text-center">
    <h1>Edit Rent</h1>

    {{ include('admin/rent/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('admin/rent/_delete_form.html.twig') }}
       </div>
            </div>
{% endblock %}
