{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <button class="btn btn-success btn-block"> {{ button_label | default('Save') }}</button>
</div>
{{ form_end(form) }}
