{% extends 'homebase.html.twig' %}
{% block title %}{% endblock %}
{% block keywords%}{% endblock %}
{% block description%}{% endblock %}
{% block body %}
	<!-- Start Bradcaump area -->
	<div class="ht__bradcaump__area" style="background-image: url({{asset('assets/images/02.jpg')}}); background-position: center; background-size: cover;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					
				</div>
			</div>
		</div>
	</div>
	<!-- End Bradcaump area -->
	{% include ('user/usermenu.html.twig') %}
	<table class="table">
		<tbody>
			<h3>Kulanıcı Bilgilerimi Duzenle</h3>
		</tbody>
	</table>

	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}


</div></div></div></div></div></div></div><!-- End Shop Page -->{% endblock %}
